<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="" >
    <meta name="color-scheme" content="light dark">

    <title><%= typeof title !== 'undefined' ? `${title} - TypeScript Fastify` : 'TypeScript Fastify' %></title>

    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">

    <link rel="stylesheet" href="/css/bootstrap.css?v=1">
    <link rel="stylesheet" href="/css/main.css?v=1">
  </head>
  <body>
    <header class="header py-2 pe-3 d-flex align-items-center justify-content-between">
      <div class="container-xl d-flex align-items-center gap-5">
        <%- include('./_partials/logo.ejs') %>

        <nav class="d-none d-lg-flex align-items-center gap-2 main-nav">
          <% for (const navItem of mainNav) { %>
            <a href="<%=navItem.url%>" is="nav-link" class="main-nav-button <% if (typeof mainNavId !== 'undefined' && mainNavId === navItem.id) { %>selected<% } %>">
              <%=navItem.label%>
            </a>
            <% } %>
          </nav>
        </div>

        <mobile-menu-button></mobile-menu-button>
    </header>

    <main class="flex-grow-1 py-4 container">
      <%- body %>
    </main>

    <footer class="py-5">
      <div class="container d-flex flex-column flex-lg-row justify-content-lg-between gap-4">
        <div class="d-flex flex-column flex-md-row gap-2 gap-md-4">
          <% for (const navItem of mainNav) { %>
            <a href="<%=navItem.url%>"><%=navItem.label%></a>
          <% } %>
          <a href="/contact/">Contact Us</a>
        </div>

        <div class="text-lg-end text-center">
          &copy; Alex Seifert 2024
        </div>
      </div>
    </footer>

    <script defer src="/scripts/web-components/index.js?v=1" type="module"></script>
  </body>
</html>
